.navbar {
  background-color: #9b9797;
  overflow: hidden;
}

.navbar h2 {
  color: azure;
  display: inline-block;
  margin-right: 120px;
}

.nav-links {
  display: inline-block;
  text-align: center;
  margin-left: 50%;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 15px 16px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  text-align: center;
}

body {
  font-family: "Roboto";
  background-color: #d8cbcb;
  line-height: 1.6;
  text-align: center;
  padding: 2rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(106, 87, 73)"
}
p {
  font-size: 1.1rem;
  margin-top: 0;

  
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 70%;
}
.i{
    margin-left: 25%;
    margin-top: -10%;
}
.f{
    margin-left: 50%;
    margin-top: -10%;
}
.c{
    margin-right: 50%;
}



